.rbc-event {
    background-color: #1D3557;
    border-radius: 0;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    opacity: 0.6;
}

.rbc-today {
    background-color: #457B9D;
    opacity: 0.6;
}
