.profileContainer {
    width: 65%;
    margin: 0 auto;
    background-color: white;
    height: 92%;
}

.profile {
    margin: 0 0 0 60px;
    padding-top: 20px;
    font-family: Roboto, sans-serif;
    font-size: 26px;
}

.inputFields {
    margin: 0 60px 0 60px;
}

.weight, .height {
    position: relative;
}

.suffix {
    position: absolute;
    bottom: 10px;
    left: 230px;
    color: gray;
    font-weight: lighter;
}

.avatarContainer {
    margin: 40px 80px 30px 0px;
    width: 80%;
    height: 80%;
}

.topContainer {
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.topRightContainer {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
}
